<h1 class="mb-4"><%= @place["name"] %></h1>

<h2>My Entries</h2>

<div class="row">
  <% @entries.where(user_id: current_user.id).each do |entry| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3><%= entry["title"] %></h3>
          <h4><%= entry["occurred_on"] %></h4>
          <p><%= entry["description"] %></p>
          <% if entry.uploaded_image.attached? %>
            <%= image_tag entry.uploaded_image, class: "img-fluid" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
</p>

<p>
  <a href="/places" class="btn btn-secondary">Back to All Places</a>
</p>


